<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% for (let i = 0; i < messages.length; i++) { %>
    <div class="message-card">
      <div class="message-username"><%= messages[i].user %></div>
      <div class="message-date"><%= messages[i].added %></div>
      <div class="message-text"><%= messages[i].text %></div>
    </div>
    <% } %>
  </body>
</html>
